:root {
    --primary-color: #6A63FF;
    --seconday-color: #48D6D2;
    --bg-color: #0B1239;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --gray-color: #9D9D9D;
}

* {
    font-family: 'Rethink Sans';
}

.primary-color {
    color: var(--primary-color);
}

.seconday-color {
    color: var(--seconday-color);
}

.bg-color {
    color: var(--bg-color);
}

.white-color {
    color: var(--white-color);
}

.black-color {
    color: var(--black-color);
}

.gray-color {
    color: var(--gray-color);
}

/* h1,
h2,
h3 {
    background: -webkit-linear-gradient (150deg, #48D6D2 0%, #6A63FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

a {
    text-decoration: none;
}

h2 {
    background: linear-gradient(45deg, #48D6D2, #6A63FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 200%;
    animation: animateGradient 2s linear infinite;
}

footer h3 {
    background: linear-gradient(45deg, #48D6D2, #6A63FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 200%;
    animation: animateGradient 2s linear infinite;
}

.bg-body-tertiary {
    background-color: transparent !important;
}

header .navbar ul li a {
    padding: 0 !important;
    color: var(--gray-color);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: var(--seconday-color);
}

.nav-link:focus,
.nav-link:hover {
    color: var(--seconday-color);
}

.cta-btn {
    display: inline-block;
    background-color: var(--seconday-color);
    border: 1px solid var(--seconday-color);
    transition: all 0.5s;
}

.cta-btn-paper {
    margin-top: 10px;
    display: inline-block;
    background-color: var(--seconday-color);
    border: 1px solid var(--seconday-color);
    transition: all 0.5s;
}

.cta-btn a {
    color: var(--black-color);
    transition: all 0.5s;

}

.cta-btn:hover {
    color: var(--white-color);
    background-color: transparent;
    border: 1px solid var(--seconday-color);
}

.cta-btn:hover a {
    color: var(--white-color);
}

header {
    background-color: var(--bg-color);
    padding: 16px 0;
}

header .navbar-collapse {
    background-color: var(--bg-color);
    /* width: 100%; */
    padding: 16px;
}

header .navbar-toggler-icon {
    background-image: url('../image/menu-icon.svg');
}

.navbar-toggler:focus {
    box-shadow: none;
}



/* banner start */
.hero-section {
    background-image: url('../image/hero-section-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.notification {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.notification.show {
    display: block;
}

/* banner end */
footer {
    background-color: var(--bg-color);
}

footer .top-footer .news-letter .email input {
    border-bottom: 1px solid var(--gray-color);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: transparent;
}

footer .top-footer .news-letter-form {
    margin-top: 32px;
}

footer .icon-hover:hover {
    color: var(--primary-color);
    transition: all 0.3s;
}

/* footer .copy-link-footer::after{
    position: absolute;
    content: '';
    border-top: 1px solid var(--gray-color);
    width: 100vw;
    right: 0;
    left: 0;
    top: 0;
} */

.intro-section {
    position: relative;
    background: #140E3A;
    padding: 100px 0px 150px;
    overflow: hidden;
}

.intro-section .text-col {
    position: relative;
}

.intro-section .text-col .inner {
    position: relative;
    z-index: 2;
}

.intro-section .text-col .about {
    position: relative;
    padding-left: 40px;
}

.intro-section .image-col {
    position: relative;
}

.intro-section .image-col .inner {
    position: relative;
    min-height: 100%;
}

.intro-section .image-col .image {
    position: absolute;
    right: -20px;
    top: -130px;
}

.intro-section .image-col .image img {
    max-width: none;
}

.intro-section .info-block {
    position: relative;
    margin-bottom: 30px;
}

.intro-section .info-block .inner-box {
    position: relative;
    display: block;
    max-width: 490px;
    padding-left: 75px;
    padding-top: 10px;
    min-height: 70px;
}

.intro-section .info-block .inner-box:before {
    content: '';
    position: absolute;
    left: 24px;
    top: 48px;
    height: 100%;
    border-left: 2px dashed #679FEF;
}

.intro-section .info-block:last-child .inner-box:before {
    display: none;
}

.intro-section .info-block .icon-box {
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    background: #3772FF;
    color: #ffffff;
    border-radius: 50%;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.intro-section .info-block .inner-box:hover .icon-box {
    -webkit-transform: scale(-1) rotate(180deg);
    -moz-transform: scale(-1) rotate(180deg);
    -ms-transform: scale(-1) rotate(180deg);
    -o-transform: scale(-1) rotate(180deg);
    transform: scale(-1) rotate(180deg);
}

.intro-section .info-block h5 {
    text-transform: capitalize;
    margin-bottom: 10px;
}

.intro-section .info-block .text {
    max-width: 330px;
    font-size: 14px;
    line-height: 22px;
    color: #D3D4E0;
}

.intro-three .left-col .info-block-three:nth-child(3) {
    right: 10px;
}

.intro-three .left-col .info-block-three:nth-child(2) {
    right: 30px;
}

.intro-three .left-col .info-block-three:nth-child(1) {
    right: -10px;
}

.intro-three .right-col .info-block-three:nth-child(3) {
    left: 0px;
}

.intro-three {
    position: relative;
    padding: 120px 0px 120px;
}

.intro-three .bg-layer {
    position: absolute;
    left: 0px;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 0;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.intro-three .dots-layer {
    position: absolute;
    left: 0px;
    bottom: 0;
    width: 100%;
    height: 160px;
    opacity: 1;
    z-index: 0;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.intro-three .title-box-two {
    margin-bottom: 120px;
}

.intro-three .content-box {
    position: relative;
    min-height: 520px;
}

.intro-three .content-col {
    position: relative;
}

.intro-three .content-col .inner {
    position: relative;
    padding-right: 235px;
}

.intro-three .right-col .inner {
    position: relative;
    padding-right: 0px;
    padding-left: 235px;
}

.intro-three .image-col {
    position: absolute;
    width: 460px;
    text-align: center;
    left: 50%;
    margin-left: -230px;
    top: 0;
}

.intro-three .info-block-three {
    position: relative;
    margin-bottom: 70px;
}

.intro-three .left-col .info-block-three:nth-child(1) {
    right: -60px;
}

.intro-three .left-col .info-block-three:nth-child(3) {
    right: -20px;
}

.intro-three .right-col .info-block-three:nth-child(1) {
    left: -20px;
}

.intro-three .right-col .info-block-three:nth-child(2) {
    left: 40px;
}

.intro-three .right-col .info-block-three:nth-child(3) {
    left: 25px;
}

.intro-three .right-col .info-block-three .inner-box {
    padding-right: 0;
    padding-left: 70px;
    text-align: left;
}

.intro-three .info-block-three .inner-box:hover .icon-box {
    -webkit-transform: scale(-1) rotate(180deg);
    -moz-transform: scale(-1) rotate(180deg);
    -ms-transform: scale(-1) rotate(180deg);
    -o-transform: scale(-1) rotate(180deg);
    transform: scale(-1) rotate(180deg);
}

.intro-three .info-block-three .icon-box {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    background: #5E8BFF;
    background: -webkit-linear-gradient(top, #5E8BFF, #9541FF);
    background: -ms-linear-gradient(top, #5E8BFF, #9541FF);
    background: -moz-linear-gradient(top, #5E8BFF, #9541FF);
    color: #ffffff;
    border-radius: 50%;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.intro-three .right-col .info-block-three .icon-box {
    left: 0;
    right: auto;
}

.intro-three .info-block-three h5 {
    font-weight: 500;
    color: #17044B;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.intro-three .info-block-three .text {
    color: #8D869B;
    font-size: 14px;
    line-height: 22px;
}

.blog {
    background-color: var(--bg-color);
}

.blog .read-more-btn a:hover {
    color: var(--primary-color);
}

.our-team {
    background-color: var(--bg-color);
}

.our-team .our-team-content .our-team-content-text {
    background-color: var(--primary-color);
    color: white;
    transition: all 1s;
}

.our-team .our-team-content .team-hover:hover .our-team-content-text {
    background-color: var(--white-color);
    transition: all 1s;
}

.our-team-content-text a {
    color: white;
    transition: all 1s;
}

.our-team-content-text a:hover {
    color: white;
    transition: all 1s;
}

.our-team .our-team-content .team-hover:hover .our-team-content-text h5 {
    color: var(--black-color);
    transition: all 1s;
}

.our-team .our-team-content .team-hover:hover .our-team-content-text a {
    color: var(--black-color);
    transition: all 1s;
}

.our-team .our-team-content .team-hover:hover .our-team-content-text span {
    color: var(--primary-color);
    transition: all 1s;
}

.our-team .our-team-content .social-icon {
    top: auto;
    bottom: 50%;
    transform: translateY(50%);
    left: 20px;
    opacity: 0;
    transition: all 0.5s;
}

.our-team .our-team-content .team-hover:hover .social-icon {
    opacity: 1;
}

.our-team .our-team-content .social-icon .fa-x-twitter:before {
    content: "\e61b";
    font-size: 27px;
}

.our-team .our-team-content .social-icon .fa-linkedin-in:before {
    content: "\f0e1";
    font-size: 27px;
}

.our-team .our-team-content .social-icon .fa-facebook-f:before {
    content: "\f39e";
    font-size: 27px;
}

.our-team .our-team-content .social-icon i {
    background-color: var(--primary-color);
    padding: 11px;
    border-radius: 50%;
    transition: all 0.5s;
}

.our-team .our-team-content .social-icon i:hover {
    background-color: var(--white-color);
    color: var(--primary-color);
}

.our-team .our-team-content .team-hover .img::after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .5s ease;
}

.our-team .our-team-content .team-hover:hover .img::after {
    opacity: 1;
}

.our-team .our-team-content .our-team-content-text {
    border-radius: 10px;
}

.faq {
    background-color: var(--bg-color);
}

.faq .accordion {
    background-color: transparent;
}

.faq .accordion .accordion-item:first-of-type > .accordion-header .accordion-button {
    border-radius: 0;
    border: none;
}

.faq .accordion-button:focus {
    box-shadow: none;
}

.faq .accordion-item {
    border: none;
    background-color: transparent;
}

.faq .accordion-item .accordion-header .accordion-button {
    font-weight: 600;
    color: #ffffff;
}

.faq .accordion-button:not(.collapsed) {
    box-shadow: none;
    background-color: transparent;
}

.faq .accordion-button::after {
    background-image: url('../image/ic-arrow.svg');
    --bs-accordion-btn-icon-transform: rotate(90deg)
}

/* sale start */

.sale {
    background-color: var(--bg-color);
}

.sale .sale-content-text .sale-content-1 .pre-sale-btn,
.ico-btn {
    display: inline-block;
    background: rgb(72, 214, 210);
    background: linear-gradient(170deg, rgba(72, 214, 210, 1) 0%, rgba(106, 99, 255, 1) 100%);
    border-radius: 10px;
    text-align: center;
}

.sale .sale-content-text .sale-content-1 .price-target .price-btn {
    display: inline-block;
    border-image: linear-gradient(170deg, rgba(72, 214, 210, 1) 0%, rgba(106, 99, 255, 1) 100%) 1;
    border-width: 5px;
    border-style: solid;
    border-image-slice: 20;
    border-radius: 60px;

    border: double 2px transparent;
    border-radius: 40px;
    display: inline-block;
    background-image: linear-gradient(#0b1239, #0b1239), radial-gradient(circle at top left, rgba(72, 214, 210, 1), rgba(106, 99, 255, 1));
    background-origin: border-box;
    background-clip: content-box, border-box;
    padding: 2px;
}

.sale .sale-content-text .sale-content-1 .price-target .price-btn a {
    display: inline-block;
    padding: 10px 30px;
}

.sale .sale-content-text .sale-content-1 .bonus h3 {
    width: 120px;
    height: 120px;
    text-align: center;
    display: inline-block;
    border: 4px solid var(--seconday-color);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sale .sale-content-text .sale-content-1 .timer h3 {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.sale .sale-content-2 .price-bit .price-bit-btn {
    display: inline-block;
    background: rgb(72, 214, 210);
    background: linear-gradient(170deg, rgba(72, 214, 210, 1) 0%, rgba(106, 99, 255, 1) 100%);
    padding: 18px 48px;
    border-radius: 60px;
}

.sale .sale-content-2 .time-bonus ul li {
    display: flex;
    justify-content: space-between;
}

.sale .sale-content-2 .time-bonus ul li .time {
    flex: 0 0 50%;
    text-align: center;
}

.sale .sale-content-2 .time-bonus ul li .time h5 {
    color: #48D6D2;
}

.sale .sale-content-2 .time-bonus ul li .bonus {
    flex: 0 0 50%;
    text-align: center;
}

.sale .sale-content-2 .time-bonus ul li .bonus h5 {
    color: #48D6D2;
}

.what-section {
    background-color: var(--bg-color);
}

.what-section .what-ico-content-text .center-image {
    padding: 90px;
    border-radius: 50%;
    border: 1px solid var(--seconday-color);
}

/* left content-text start */
/* .what-section .what-ico-content-text .token-sale{
    margin-right: -110px;
}
.what-section .what-ico-content-text .funding{
    margin-right: -50px;
}
.what-section .what-ico-content-text .distribution{
    margin-right: -60px;
} */
/* left content-text end */

/* right content text start */
/* .what-section .what-ico-content-text .project{
    margin-left: -111px;
}
.what-section .what-ico-content-text .token-reation{
    margin-left: -50px;
}
.what-section .what-ico-content-text .ico-campaign{
    margin-left: -60px;
} */

/* right content text end */


/* how it section start */
.how-it-works {
    position: relative;
    background-color: var(--bg-color);
}

.how-it-works .bg-layer-right {
    position: absolute;
    right: 0px;
    top: -250px;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 0;
    background-repeat: no-repeat;
    background-position: right top;
}

.how-it-works .bg-layer-center {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 0;
    background-repeat: no-repeat;
    background-position: center 345px;
}

.how-it-works .carousel-box {
    position: relative;
}

.how-it-works .pagers-box {
    position: relative;
    text-align: center;
}

.how-it-works .pagers-box .pager-one {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.how-it-works .pagers-box .pager-one:before {
    content: '';
    position: absolute;
    left: 30px;
    right: 30px;
    top: 50%;
    margin-top: -1px;
    border-bottom: 2px dashed #99B7FF;
}

.how-it-works .pagers-box .pager-item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 0 25px;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    z-index: 1;
}

.how-it-works .pagers-box .pager-item.active {
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.how-it-works .pagers-box .icon-box {
    position: relative;
    display: block;
    width: 100px;
    height: 100px;
    color: #3772FF;
    font-size: 42px;
    line-height: 100px;
    text-align: center;
    background: #ffffff;
    border-radius: 50%;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.how-it-works .pagers-box .pager-item.active .icon-box {
    background: #3772FF;
    color: #ffffff;
    box-shadow: 0 15px 50px 0 rgba(55, 114, 255, 0.50);
}

.how-it-works .slider-box {
    position: relative;
    display: block;
    max-width: 600px;
    margin: 0 auto;
}

.how-it-works .slider-box .bx-viewport {
    overflow: visible !important;
}

.how-it-works .slide {
    position: relative;
}

.how-it-works .slide .inner-box {
    position: relative;
    display: block;
    background: #292A47;
    text-align: center;
    border-radius: 20px;
    opacity: 0.50;
    box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.how-it-works .slide[aria-hidden="false"] .inner-box {
    opacity: 1;
    box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.25);
}

.how-it-works .slide h5 {
    text-transform: uppercase;
    line-height: 1.5em;
    margin-bottom: 20px;
}


.how-it-works .bx-controls {
    display: none;
}

.how-it-works .pagers-box .pager-item.active .icon-box svg path {
    fill: var(--white-color);
}

.how-it-works .pagers-box .pager-item.active {
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.how-it-works .pagers-box .pager-item.active .icon-box {
    background: linear-gradient(170deg, rgba(72, 214, 210, 1) 0%, rgba(106, 99, 255, 1) 100%);
    box-shadow: 0 0 30px 0 rgb(255, 255, 255, 0.3);
}

.how-it-works .slide .inner-box {
    background-color: rgb(255, 255, 255, 0.3);
    opacity: 1;
}

.how-it-works .slide[aria-hidden="false"] .inner-box {
    background-color: var(--white-color);
}

.how-it-works .slide[aria-hidden="false"] .inner-box h4 {
    color: var(--primary-color);
}

.how-it-works .slide[aria-hidden="false"] .inner-box .text {
    color: var(--black-color);
}

/* how it section end */


.roadmap {
    background-color: var(--bg-color);
}

.roadmap .road-map-content .road-map-content-1 h5 {
    color: var(--white-color);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 28px;
    line-height: 36px;
}

.roadmap .road-map-content .road-map-text-1 h5 {
    color: var(--seconday-color);
}

.roadmap .road-map-content .road-map-content-1 .road-map-text {
    padding: 16px;
    background-color: rgb(72, 214, 210, 0.3);
    border-radius: 20px;
}

.road-map-content.d-flex.justify-content-between::after {
    position: absolute;
    content: '';
    width: 100%;
    border: 1px dashed var(--white-color);
    top: 52.5%;
    right: 0;
}

.radio-dot {
    border: 2px solid var(--seconday-color);
    width: 62px;
    height: 62px;
    border-radius: 50%;
    position: relative;
    margin: 48px auto;
    z-index: 1;
    background-color: var(--bg-color);
}

.radio-dot::after {
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    background-color: var(--seconday-color);
    left: -1px;
    top: 50%;
    transform: translate(50%, -50%);
    border-radius: 50%;
}

@keyframes animateGradient {
    0% {
        background-position: 100% 0;
    }

    50% {
        background-position: 0 100%;
    }

    100% {
        background-position: 100% 0;

    }
}


/* New css start here */
.container {
    max-width: 1320px;
}

/* Blog section */
.blogs {
    background: var(--bg-color);
}

.blogs .section-title {
    text-align: center;
    margin-bottom: 60px;
}

.blogs .section-title h2 {
    text-align: center;
    margin: 0 0 16px 0;
}

.blogs .blog-item {
    position: relative;
}

.blogs .blog-item .post-image {
    margin-bottom: 30px;
}

.blogs .blog-item .post-image img {
    display: block;
    width: 100%;
}

.blogs .blog-item .post-content h5 {
    font-family: 'Rethink Sans';
    font-size: 32px;
    font-weight: 700;
    line-height: 41px;
    color: #ffffff;
    margin: 0 0 15px 0;
}

.blogs .blog-item .post-content p {
    font-family: 'Rethink Sans';
    color: var(--gray-color);
    font-size: 20px;
    font-weight: 400;
    line-height: 26.04px;
    margin: 0 0 30px 0;
}

.blogs .blog-item .post-content .viewmore a {
    font-family: 'Rethink Sans';
    font-size: 20px;
    font-weight: 600;
    line-height: 26.04px;
    text-align: left;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    gap: 15px;
    transition: all 0.2s;
}

.blogs .blog-item .post-content .viewmore a:hover {
    color: #48D6D2;
}

/* Footer Section */

footer .footer-logo {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 80px;
}

footer .footer-logo img {
    display: block;
    margin: 0 auto 16px auto;
}

footer .footer-logo p {
    font-family: 'Rethink Sans';
    color: var(--gray-color);
    font-size: 20px;
    font-weight: 400;
    line-height: 26.04px;
    text-align: center;
    margin: 0;
}

footer .newsletter {
    max-width: 720px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 80px;
}

footer .newsletter h3 {
    text-align: center;
    margin: 0 0 16px 0;
}

footer .newsletter p {
    font-family: 'Rethink Sans';
    color: var(--gray-color);
    font-size: 20px;
    font-weight: 400;
    line-height: 26.04px;
    text-align: center;
    margin: 0 0 30px 0;
}

footer .newsletter form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
    width: 100%;
}

footer .newsletter form .item {
    flex: 0 0 calc(100% - 210px);
}

footer .newsletter form .item input {
    font-family: 'Rethink Sans';
    color: var(--gray-color);
    font-size: 20px;
    font-weight: 400;
    line-height: 26.04px;
    border: none;
    background: transparent;
    border-bottom: 1px solid #9D9D9D;
    outline: none;
    box-shadow: none;
    padding: 10px;
    width: 100%;
    color: #ffffff;
}

footer .newsletter form .cta-btn {
    font-family: 'Rethink Sans';
    font-size: 20px;
    font-weight: 600;
    line-height: 26.04px;
    text-align: center;
    background: #48D6D2;
    color: #ffffff;
    padding: 16px 32px;
    min-width: 155px;
    border: 1px solid #48D6D2;
    transition: background-color 1000ms
}

footer .newsletter form .cta-btn:hover,
footer .newsletter form .cta-btn:focus {
    background: #6A63FF;
    border: 1px solid #6A63FF;
}

footer .footer-menu {
    max-width: 920px;
    margin: 0 auto;
}

footer .footer-menu ul {
    padding: 0;
    margin: 0;
    text-align: center;
}

footer .footer-menu ul li {
    display: inline-block;
}

footer .footer-menu ul li a {
    font-family: 'Rethink Sans';
    font-size: 26px;
    font-weight: 500;
    line-height: 33.85px;
    text-align: center;
    margin: 0 25px;
    color: #ffffff;
    transition: all 0.2s;
}

footer .footer-menu ul li a:hover,
footer .footer-menu ul li a:focus {
    color: #48D6D2;
}

footer .footer-menu ul li:first-of-type a {
    margin-left: 0;
}

footer .footer-menu ul li:last-of-type a {
    margin-right: 0;
}

footer .copyright {
    border-top: 1px solid #9D9D9D;
    padding: 30px 0;
}

footer .copyright .copy-text p {
    font-family: 'Rethink Sans';
    color: var(--gray-color);
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    margin: 0;
}

footer .copyright .social-icon {
    text-align: right;
}

footer .copyright .social-icon i {
    color: #9D9D9D;
    margin-right: 15px;
    transition: all 0.2s;
    cursor: pointer;
}

footer .copyright .social-icon i:last-of-type {
    margin-right: 15px;
}

footer .copyright .social-icon i:hover {
    color: #48D6D2;
    transition: all 0.2s;
}

.sale {
    background-color: var(--bg-color);
    padding-bottom: 20px;
}

.sale .crypto-box ul li h5 {
    color: var(--white-color);
}

.white-ol li {
    margin-top: 5px;
}

.sale .crypto-box ul li p {
    color: var(--gray-color);
}

.sale .crypto-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sale .crypto-box .crypto-list {
    /* flex: 0 0 450px; */
    flex: 0 0 30%;
}

.sale .crypto-box .crypto-image {
    /* flex: 0 0 calc(100% - 900px); */
    flex: 0 0 40%;
}

.sale .crypto-list ul {
    padding: 0;
    margin: 0;
}

.sale .crypto-list ul li {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 60px;
}

.sale .crypto-list ul li:last-of-type {
    margin: 0;
}

.sale .crypto-list.left ul li .text {
    flex: 0 0 calc(100% - 70px);
    text-align: right;
}

.sale .crypto-list ul li .icon {
    flex: 0 0 60px;
}

.sale .crypto-image img {
    border: 1px solid var(--seconday-color);
    border-radius: 50%;
    width: 100%;
}

.sale .crypto-list.left ul li:nth-child(1) .text {
    padding-right: 40px;
}

.sale .crypto-list ul li:nth-child(1) {
    position: relative;
    right: -110px;
}

.sale .crypto-list ul li:nth-child(2) {
    position: relative;
    right: -30px;
}

.sale .crypto-list ul li:nth-child(3) {
    position: relative;
    right: -74px;
}

.sale .crypto-list.right ul li:nth-child(1) {
    position: relative;
    left: -110px;
}

.sale .crypto-list.right ul li:nth-child(1) .text {
    padding-left: 28px;
}

.sale .crypto-list.right ul li:nth-child(2) {
    position: relative;
    left: -30px;
}

.sale .crypto-list.right ul li:nth-child(3) {
    position: relative;
    left: -86px;
}

@media screen and (max-width: 991px) {


    footer .footer-logo,
    footer .newsletter {
        margin-bottom: 40px;
    }

    .blogs .section-title {
        margin: 0 0 40px 0;
    }

    .blogs .section-title h2 {
        font-size: 36px;
        line-height: 46px;
    }

    .blogs .blog-item .post-content h5 {
        font-size: 26px;
        line-height: 32px;
    }

    footer .newsletter h3 {
        font-size: 34px;
        line-height: 44px;
    }

    footer .footer-logo p,
    footer .newsletter p,
    footer .copyright .copy-text p,
    footer .newsletter form .item input,
    footer .newsletter form .item input::placeholder {
        font-size: 18px;
    }

    footer .footer-menu ul li a {
        font-size: 20px;
        line-height: 26px;
    }

    footer .copyright {
        padding: 15px 0;
    }
}

@media screen and (max-width: 767px) {
    .blogs .blog-item {
        margin-bottom: 40px;
    }

    footer .copyright .social-icon,
    footer .copyright .copy-text p {
        margin-top: 10px;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    footer .newsletter form {
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }

    footer .newsletter form .item {
        flex: 0 0 100%;
    }

    footer .newsletter form .item input {
        padding-left: 0;
        padding-right: 0;
    }

    footer .footer-menu ul li {
        display: block;
        margin: 10px auto;
    }

    footer .footer-menu ul li a {
        margin: 0;
    }
}

@media screen and (max-width: 1100px) {
    .sale .crypto-box {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .sale .crypto-box .crypto-list.left {
        order: 1;
        flex: 0 0 48%;
    }

    .sale .crypto-box .crypto-list.right {
        order: 2;
        flex: 0 0 48%;
    }

    .sale .crypto-box .crypto-image {
        order: 3;
        flex: 0 0 50%;
        margin: 0 auto;
    }

    .sale .crypto-list ul li:nth-child(1) {
        right: 0;
        height: 100px;
    }

    .sale .crypto-list ul li:nth-child(2) {
        right: 0;
        height: 100px;
    }

    .sale .crypto-list ul li:nth-child(3) {
        right: 0;
        height: 100px;
    }

    .sale .crypto-list.right ul li:nth-child(1) {
        left: 0;
        height: 100px;
    }

    .sale .crypto-list.right ul li:nth-child(2) {
        left: 0;
        height: 100px;
    }

    .sale .crypto-list.right ul li:nth-child(3) {
        left: 0;
        height: 100px;
    }

    .sale .crypto-list.left ul li:nth-child(1) .text {
        padding-right: 0px;
    }

    .sale .crypto-list.right ul li:nth-child(1) .text {
        padding-left: 0px;
    }
}

@media screen and (max-width: 767px) {

    /* .sale .crypto-list ul li:nth-child(1){
        height: 150px;
    }
    .sale .crypto-list ul li:nth-child(2){
        height: 150px;
    }
    .sale .crypto-list ul li:nth-child(3){
        height: 150px;
    }
    .sale .crypto-list.right ul li:nth-child(1) {
        height: 150px;
    }
    .sale .crypto-list.right ul li:nth-child(2) {
        height: 150px;
    }
    .sale .crypto-list.right ul li:nth-child(3) {
        height: 150px;
    } */
    .sale .crypto-box {
        row-gap: 40px;
    }

    .sale .crypto-list ul li {
        margin-bottom: 20px;
    }

    .sale .crypto-box .crypto-list.left {
        flex: 0 0 100%;
    }

    .sale .crypto-box .crypto-list.right {
        flex: 0 0 100%;
    }

    .sale .crypto-box .crypto-image {
        order: 3;
        flex: 0 0 80%;
        margin: 0 auto;
    }

    .sale .crypto-list.left ul li .text {
        text-align: center;
    }

    .sale .crypto-list.right ul li .text {
        text-align: center;
    }

    .sale .crypto-list.right {
        margin-top: 0px;
    }

    .sale .crypto-list ul li:nth-child(1) {
        flex-direction: column-reverse;
        align-items: center;
        height: auto;
    }

    .sale .crypto-list ul li:nth-child(2) {
        flex-direction: column-reverse;
        align-items: center;
        height: auto;
    }

    .sale .crypto-list ul li:nth-child(3) {
        flex-direction: column-reverse;
        align-items: center;
        height: auto;
    }

    .sale .crypto-list ul li:nth-child(3) {
        flex-direction: column-reverse;
        align-items: center;
        height: auto;
    }

    .sale .crypto-list.right ul li:nth-child(1) {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .sale .crypto-list.right ul li:nth-child(2) {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .sale .crypto-list.right ul li:nth-child(3) {
        flex-direction: column;
        align-items: center;
        height: auto;
    }
}
